<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Mudi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <style>
    .Logo-container {
      background-color: #47bcff;
      color: white;
    }
    .Logo {
      font-family: 'Handlee', cursive;
      font-size: 2.5rem;
    }
  </style>
</head>

<div th:fragment="Logo" class="Logo-container mb-3 p-3 d-flex justify-content-between">
  <span class="Logo">mudi</span>
  <span class="mt-3">login</span>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
  <h1 class="display-4" th:text="${valor}"></h1>
</div>